REACT_APP_NAME="DIGI CARD"
ROOT_PATH=""
REACT_APP_PUBLIC="public"
NODE_PORT=9000
REACT_APP_DEV=true
#duplicate of NODE_PORT so the variable is accessible from React (must have REACT_APP_ prefix)
REACT_APP_NODE_PORT=9000

REACT_APP_DOMAIN=http://localhost
PORT=4000 #React port

JWT_SECRET=supersecretstring
MONGO_URL=mongodb://localhost:27017/carddeck

REACT_APP_PAYPAL_CLIENT_ID=""
REACT_APP_PAYPAL_SECRET=""

SMTP_GMAIL_USER=""
SMTP_GMAIL_PASSWORD=""

REACT_APP_AUTH_FACEBOOK_ID=""
REACT_APP_AUTH_GOOGLE_ID=""

REACT_APP_FROALA_KEY=""

SENDPULSE_API_KEY=""
SENDPULSE_API_SECRET=""
