/* hide the original widget - that there were no two labels on the screen*/
#jivo_chat_widget{
	display: none;
}

/* the default style - for offline messages if no one is online */
#jivo_custom_widget{
    position: fixed;
    right: 20px;
    bottom: 90px;
    width: 60px;
    z-index: 300000;
    cursor: pointer;
    height: 60px;
    background-size: cover;
    background-image: url(https://cardtherapy.online/jivosite/images/jivo_widget_offline.png);
}

/* when you hover the label should be shifted to the right by 3px */
#jivo_custom_widget:hover{
	right:17px;
}

/* if there are operators online - show other label*/
#jivo_custom_widget.jivo_online{
	background-image: url(https://cardtherapy.online/jivosite/images/jivo_widget_online.png);
}