.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 966px;
}

.u-section-1 .u-text-1 {
  width: 626px;
  font-weight: 300;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-1 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-1 .u-accordion-link-1 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-1 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 20px;
}

.u-section-1 .u-accordion-link-2 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-2 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px 20px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-accordion-link-3 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-3 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px 20px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-accordion-item-4 {
  width: 1140px;
  margin: 30px auto 60px;
}

.u-section-1 .u-accordion-link-4 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-4 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-accordion-item-5 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-5 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-5 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-accordion-item-6 {
  min-height: 150px;
}

.u-section-1 .u-accordion-link-6 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-6 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-accordion-link-7 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-7 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-accordion-link-8 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-8 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-accordion-link-9 {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-9 {
  height: 55px;
  width: 55px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-1 {
    width: 940px;
  }

  .u-section-1 .u-accordion-item-4 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-accordion-item-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-accordion-item-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-item-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-accordion-item-4 {
    width: 340px;
  }
}