.u-section-1 .u-sheet-1 {
  min-height: 441px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  font-family: Arimo;
  margin: 50px 203px 0 269px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 28px 214px 60px auto;
  padding: 8px 43px 9px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 169px;
    margin-right: 167px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 52px;
    margin-right: 128px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 475px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  width: 740px;
  margin: 37px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin: 21px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 315px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-family: Arimo;
  margin: 30px -18px 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  background-image: none;
  font-family: Arimo;
  font-weight: 300;
  margin: 30px -18px 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  background-image: none;
  font-family: Arimo;
  font-weight: 300;
  margin: 30px -18px 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0 30px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  background-image: none;
  font-family: Arimo;
  font-weight: 300;
  margin: 30px -18px 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 365px;
}

.u-section-3 .u-text-1 {
  width: 254px;
  margin: 0 auto;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 29px;
  margin-bottom: 0;
  height: auto;
  min-height: 296px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 261px;
}

.u-section-4 .u-text-1 {
  margin: 28px 112px 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 20px 60px 0 223px;
}

.u-section-4 .u-icon-1 {
  height: 96px;
  width: 96px;
  margin: -82px auto 16px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 680px;
    margin-left: 123px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 98px;
}

.u-section-5 .u-text-1 {
  margin: 12px 60px 14px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 199px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 20px 66px 0 218px;
}

.u-section-6 .u-icon-1 {
  height: 98px;
  width: 98px;
  margin: -74px auto 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 83px;
  }

  .u-section-6 .u-icon-1 {
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-6 .u-icon-1 {
    margin: 20px 0 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-icon-1 {
    margin-bottom: 51px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 111px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 28px auto;
  padding: 8px 43px 9px;
}

@media (max-width: 575px) {
  .u-section-7 .u-btn-1 {
    font-size: 1.125rem;
    padding-right: 3px;
    padding-left: 2px;
    margin: 33px 0 32px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 322px;
}

.u-section-8 .u-text-1 {
  margin: 12px 112px 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 15px 60px 0 223px;
}

.u-section-8 .u-icon-1 {
  height: 98px;
  width: 98px;
  margin: -114px auto 16px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-top: 14px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -37px;
    margin-right: 0;
    margin-left: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-top: 71px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: -94px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 129px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-8 .u-icon-1 {
    margin-bottom: 1px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1555px;
}

.u-section-9 .u-text-1 {
  margin: 46px 112px 0;
}

.u-section-9 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 2170px;
  grid-gap: 0px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-1 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-3 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-2 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-5 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-3 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-7 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-image-4 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-4 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-9 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-image-5 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-10 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-5 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-11 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-image-6 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-6 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-13 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-7 {
  padding: 30px;
}

.u-section-9 .u-image-7 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-7 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-15 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-8 {
  padding: 30px;
}

.u-section-9 .u-image-8 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-16 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-8 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-17 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-9 {
  padding: 30px;
}

.u-section-9 .u-image-9 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-18 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-9 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-19 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-10 {
  padding: 30px;
}

.u-section-9 .u-image-10 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-20 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-10 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-21 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-11 {
  padding: 30px;
}

.u-section-9 .u-image-11 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-22 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-11 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-23 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-12 {
  padding: 30px;
}

.u-section-9 .u-image-12 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-24 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Arimo;
  margin: 26px 0 0;
}

.u-section-9 .u-line-12 {
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-9 .u-text-25 {
  font-weight: 300;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 11px;
    height: auto;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 1789px;
  }

  .u-section-9 .u-image-1 {
    height: 229px;
  }

  .u-section-9 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-2 {
    height: 229px;
  }

  .u-section-9 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-3 {
    height: 229px;
  }

  .u-section-9 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-4 {
    height: 229px;
  }

  .u-section-9 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-5 {
    height: 229px;
  }

  .u-section-9 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-6 {
    height: 229px;
  }

  .u-section-9 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-7 {
    height: 229px;
  }

  .u-section-9 .u-line-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-8 {
    height: 229px;
  }

  .u-section-9 .u-line-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-9 {
    height: 229px;
  }

  .u-section-9 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-10 {
    height: 229px;
  }

  .u-section-9 .u-line-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-11 {
    height: 229px;
  }

  .u-section-9 .u-line-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-12 {
    height: 229px;
  }

  .u-section-9 .u-line-12 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 5481px;
  }

  .u-section-9 .u-image-1 {
    height: 393px;
  }

  .u-section-9 .u-image-2 {
    height: 393px;
  }

  .u-section-9 .u-image-3 {
    height: 393px;
  }

  .u-section-9 .u-image-4 {
    height: 393px;
  }

  .u-section-9 .u-image-5 {
    height: 393px;
  }

  .u-section-9 .u-image-6 {
    height: 393px;
  }

  .u-section-9 .u-image-7 {
    height: 393px;
  }

  .u-section-9 .u-image-8 {
    height: 393px;
  }

  .u-section-9 .u-image-9 {
    height: 393px;
  }

  .u-section-9 .u-image-10 {
    height: 393px;
  }

  .u-section-9 .u-image-11 {
    height: 393px;
  }

  .u-section-9 .u-image-12 {
    height: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-4 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-5 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-6 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-7 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-8 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-9 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-9 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-10 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-10 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-11 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-11 {
    height: 681px;
  }

  .u-section-9 .u-container-layout-12 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-12 {
    height: 681px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    height: 419px;
  }

  .u-section-9 .u-image-2 {
    height: 419px;
  }

  .u-section-9 .u-image-3 {
    height: 419px;
  }

  .u-section-9 .u-image-4 {
    height: 419px;
  }

  .u-section-9 .u-image-5 {
    height: 419px;
  }

  .u-section-9 .u-image-6 {
    height: 419px;
  }

  .u-section-9 .u-image-7 {
    height: 419px;
  }

  .u-section-9 .u-image-8 {
    height: 419px;
  }

  .u-section-9 .u-image-9 {
    height: 419px;
  }

  .u-section-9 .u-image-10 {
    height: 419px;
  }

  .u-section-9 .u-image-11 {
    height: 419px;
  }

  .u-section-9 .u-image-12 {
    height: 419px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 111px;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 28px auto;
  padding: 8px 43px 9px;
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 1rem;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 29px 0 30px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 708px;
}

.u-section-11 .u-text-1 {
  margin: 46px 112px 0;
}

.u-section-11 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 593px;
  grid-gap: 0px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-image-1 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-11 .u-line-1 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-11 .u-text-3 {
  font-weight: 300;
  margin: 18px 61px 0 46px;
}

.u-section-11 .u-btn-1 {
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 5px 0;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-image-2 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-11 .u-line-2 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-11 .u-text-5 {
  font-weight: 300;
  margin: 18px 61px 0 46px;
}

.u-section-11 .u-btn-2 {
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 5px 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-image-3 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-11 .u-line-3 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-11 .u-text-7 {
  font-weight: 300;
  margin: 18px 61px 0 46px;
}

.u-section-11 .u-btn-3 {
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 5px 0;
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-image-4 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-11 .u-line-4 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-11 .u-text-9 {
  font-weight: 300;
  margin: 18px 61px 0 46px;
}

.u-section-11 .u-btn-4 {
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-11 .u-list-1 {
    margin-top: 11px;
    height: auto;
  }

  .u-section-11 .u-image-1 {
    height: 229px;
  }

  .u-section-11 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-1 {
    width: 99px;
    height: 38px;
  }

  .u-section-11 .u-image-2 {
    height: 229px;
  }

  .u-section-11 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-2 {
    width: 99px;
    height: 38px;
  }

  .u-section-11 .u-image-3 {
    height: 229px;
  }

  .u-section-11 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-3 {
    width: 99px;
    height: 38px;
  }

  .u-section-11 .u-image-4 {
    height: 229px;
  }

  .u-section-11 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-4 {
    width: 99px;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-11 .u-image-1 {
    height: 393px;
  }

  .u-section-11 .u-image-2 {
    height: 393px;
  }

  .u-section-11 .u-image-3 {
    height: 393px;
  }

  .u-section-11 .u-image-4 {
    height: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-1 {
    height: 681px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-2 {
    height: 681px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-3 {
    height: 681px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-4 {
    height: 681px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    height: 419px;
  }

  .u-section-11 .u-image-2 {
    height: 419px;
  }

  .u-section-11 .u-image-3 {
    height: 419px;
  }

  .u-section-11 .u-image-4 {
    height: 419px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 117px;
}

.u-section-12 .u-text-1 {
  font-weight: 300;
  background-image: none;
  font-size: 3rem;
  line-height: 57.6px;
  margin: 0 49px 2px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    width: 700px;
    height: 39px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 420px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-13 .u-image-1 {
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  font-weight: 300;
  margin: 14px 0 0;
}

.u-section-13 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-13 .u-text-3 {
  margin: -399px 0 359px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-13 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 280px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 362px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 362px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-14 .u-image-1 {
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 362px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px;
}

.u-section-14 .u-text-1 {
  font-weight: 300;
  margin: 67px 0 0;
}

.u-section-14 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-14 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-layout-cell-1 {
    min-height: 281px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 360px;
}

.u-section-15 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px;
}

.u-section-15 .u-image-1 {
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px;
}

.u-section-15 .u-text-1 {
  font-weight: 300;
  margin: 85px 0 0;
}

.u-section-15 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-15 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-layout-cell-1 {
    min-height: 280px;
  }
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 159px;
}

.u-section-16 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 21px auto 0;
}

.u-section-16 .u-text-2 {
  font-weight: 400;
  margin: -12px auto 21px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 34px;
}.heb
* {
  direction: rtl;
} 